nav {
  height: 10vh;
  text-align: center;
}

nav img {
  width: 30%;
  height: 180%;
}

@media only screen and (max-width: 768px) {
  nav {
    height: 8vh;
    width:100%;
    text-align: center;
  }
  nav img {
    height: 120%;
  }
}
