.App {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  background: rgb(255, 254, 248);
  background: linear-gradient(
    180deg,
    rgba(255, 254, 248, 1) 0%,
    rgba(255, 251, 209, 1) 50%,
    rgba(255, 249, 177, 1) 100%
  );
  max-width:100%;
  height:100%;
}

a {
  text-decoration: none;
  color: white;
}
